.app {
  display: flex;
  justify-content: center;

  .container {
    width: 1024px;

    .link {
      text-decoration: none;
      color: inherit;
    }
    //LOGIN & REGISTER
    .auth {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      background-color: #b3a197;
      h1 {
        font-size: 20px;
        color: #251a15;
        margin-bottom: 20px;
      }
      form {
        display: flex;
        flex-direction: column;
        padding: 30px;
        background-color: white;
        width: 200px;
        gap: 10px;

        input {
          padding: 10px;
          border: none;
          border-bottom: 1px solide grey;
        }
        button {
          padding: 10px;
          border: none;
          background-color: #ebc5af;
          color: #3f271c;
          cursor: pointer;
        }
        p {
          font-size: 12px;
          text-align: center;
          color: red;
        }
        span {
          font-size: 12px;
          text-align: center;
        }
      }
    }
    //NAVBAR
    .navbar {
      position: sticky;
      top: 0;
      z-index: 1;
      .container {
        display: flex;
        justify-content: space-between;
        background-color: #e8e8ae;
        .logo {
          img {
            width: 130px;
          }
        }
        .links {
          display: flex;
          align-items: center;
          gap: 10px;
          padding: 10px;

          h6 {
            font-size: 16px;
            font-weight: 300;
          }
          span {
            cursor: pointer;
          }
          .write {
            background-color: #e8e8ae;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 300;
            border: 1px solid white;

            a {
              text-decoration: none;
              color: black;
            }

            &:hover {
              color: rgb(188, 230, 230);
              background-color: white;
              border: 1px solid rgb(204, 191, 179);
            }
          }
        }
      }
    }
    //Footer
    footer {
      padding: 20px;
      margin-top: 100px;
      background-color: #e8e8ae;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 14px;

      img {
        height: 60px;
      }
    }
    //HOME PAGE
    .home {
      .posts {
        margin: 50px;
        display: flex;
        flex-direction: column;
        gap: 110px;

        .post {
          display: flex;
          gap: 100px;
          padding: 0px 19px;

          &:nth-child(2n + 1) {
            flex-direction: row-reverse;
          }
          .img {
            flex: 2;
            position: relative;

            &::after {
              content: "";
              width: 400px;
              height: 400px;
              background-color: #e8e8ae;
              position: absolute;
              border-radius: 16px;
              top: 20px;
              left: -20px;
              z-index: -1;
            }
            img {
              width: 400px;
              height: 400px;
              object-fit: cover;
              border-radius: 16px;
            }
          }
          .content {
            flex: 3;
            display: flex;
            flex-direction: column;
            gap: 20px;
            justify-content: center;
            h1 {
              font-size: 48px;
              margin: 0px;
            }
            p {
              font-size: 18px;
            }
            button {
              width: max-content;
              padding: 10px 20ox;
              cursor: pointer;
              background-color: #e8e8ae;
              border: 1px solid rgb(239, 240, 184);
              color: #0f1413;

              &:hover {
                border: 1px solid white;
                background-color: #f9fccc;
                color: black;
              }
            }
          }
        }
      }
    }
    //SINGLE
    .single {
      display: flex;
      gap: 50px;

      .content {
        flex: 5;
        display: flex;
        flex-direction: column;
        gap: 20px;

        img {
          width: 100%;
          height: 300px;
          object-fit: cover;
        }
        .user-info {
          display: flex;
          gap: 10px;
          .user {
            display: flex;
            align-items: center;
            gap: 10px;

            img {
              width: 50px;
              height: 50px;
              border-radius: 50%;
              object-fit: cover;
            }
          }

          .info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            h4 {
              font-weight: bold;
              font-size: 14px;
              margin-bottom: 0;
            }
            p {
              font-size: 12px;
              color: gray;
              margin: 0;
            }
          }
          .edit {
            display: flex;
            gap: 5px;
            align-items: center;
            height: 60px;
            img {
              width: 20px;
              height: 20px;
              cursor: pointer;
            }
          }
        }

        h1 {
          display: flex;
          flex-direction: column;
          font-size: 42px;
          color: #333;
          margin: 0;
        }
        p {
          text-align: justify;
          line-height: 30px;
        }
      }
      .menu {
        flex: 2;
        display: flex;
        flex-direction: column;
        gap: 25px;
        h1 {
          font-size: 20px;
          color: #555;
        }
        .post {
          display: flex;
          flex-direction: column;
          gap: 10px;

          img {
            width: 100%;
            height: 200px;
            object-fit: cover;
          }
          h2 {
            color: #555;
          }
          button {
            width: max-content;
            padding: 7.5px 15px;
            cursor: pointer;
            background-color: #e8e8ae;
            border: 1px solid rgb(205, 206, 148);
            color: #0f1413;

            &:hover {
              border: 1px solid white;
              background-color: #c1c497;
              color: black;
            }
          }
        }
      }
    }
    //WRITE
    .add {
      margin-top: 20px;
      display: flex;
      gap: 20px;
      .content {
        flex: 5;
      }
      .menu {
        flex: 2;
        display: flex;
        flex-direction: column;
        gap: 20px;
      }
    }
  }
}
