.app {
  display: flex;
  justify-content: center;
}
.container {
  width: 1024px;
}

.container .link {
  text-decoration: none;
  color: inherit;
}

/* LOGIN & REGISTER */
.auth {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #b3a197;
}
.auth h1 {
  font-size: 20px;
  color: #251a15;
  margin-bottom: 20px;
}
.auth form {
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-color: white;
  width: 200px;
  gap: 10px;
}
.auth input {
  padding: 10px;
  border: none;
  border-bottom: 1px solide grey;
}
.auth button {
  padding: 10px;
  border: none;
  background-color: #ebc5af;
  color: #3f271c;
  cursor: pointer;
}
.auth p {
  font-size: 12px;
  text-align: center;
  color: red;
}
.auth span {
  font-size: 12px;
  text-align: center;
}

/* NAVBAR */
.navbar .container {
  padding: 10px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo img {
  width: 120px;
}
.navbar .links {
  display: flex;
  align-items: center;
  gap: 10px;
}
.navbar h6 {
  font-size: 16px;
  font-weight: 300;
}
.navbar span {
  cursor: pointer;
}
.navbar .write {
  background-color: rgb(211, 212, 211);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 300;
  border: 1px solid white;
}
.navbar a {
  text-decoration: none;
}
.navbar :hover {
  color: rgb(188, 230, 230);
  background-color: white;
  border: 1px solid rgb(204, 191, 179);
}

/* Footer */
footer {
  padding: 20px;
  margin-top: 100px;
  background-color: #8f8491;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
}

.footer img {
  height: 50px;
}

/* HOME PAGE */

.home.posts {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 150px;
}
.home .post {
  display: flex;
  gap: 100px;
}

.home .post :nth-child(2n + 1) {
  flex-direction: row-reverse;
}
.post .img {
  flex: 2;
  position: relative;
}

.post .img::after {
  content: "";
  width: 800px;
  height: 400px;
  background-color: #bed6b6ee;
  position: absolute;
  top: 20px;
  left: -20px;
  z-index: -1;
}
.post img {
  width: 800px;
  max-height: 400px;
  object-fit: cover;
}
.post .content {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.post .content h1 {
  font-size: 48px;
}
.post .content p {
  font-size: 18px;
}
.post .content button {
  width: max-content;
  padding: 10px 20ox;
  border: none;
  cursor: pointer;
  background-color: white;
  border: 1px solid teal;
  color: teal;
}

.post button :hover {
  border: 1px solid white;
  background-color: #8f8491;
  color: black;
}
